body {
	background-color: #FFFFFF;
	margin: 0px;
}



#titre {
	text-align: center;
}

#titre h2 {
	color: #007EA7;
	display: block;
	border: solid 2px #003459;
	padding: 10px;
	margin-left: 450px;
	margin-right: 450px;
	font-size: 40px;
	box-shadow: 2px 2px 10px black;
}

#titre h2 a {
	text-decoration: none;
	color: #007EA7;
}

#cbl {
	display: block;
	background-color: #00A7E1;
	width: 60px;
	height: 876px;
	margin-top: -150px;
}

.logiciel {
	display: block;
	margin-top: -470px;
	margin-left: 8px;
}

.outils {
	margin-top: -120px;
	margin-left: 8px;
	position: absolute;
}


.outils ul li {
	list-style-type: none;
	text-align: center;
	font-size: 30px;
	margin-left: 500px;
	margin-top: 50px;
}

.outils ul li a {

	text-decoration: none;
	color: #003459;
}

#mi {
	margin-left: 625px;
}

#git {
	margin-left: 580px;
}

#rrs {
	margin-top: -250px;
}